.page-wrapper{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #03060D;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -2;
    justify-content: space-between;
}

.page-wrapper .page-left-flex-wrapper{
    width: 45%;
    height: 100%;
}
.left-header
{
    padding: 80px;
}


.left-header .left-header-top img{
    height: 35px;
}


.left-header{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}


.left-header .counter{
    font-family: Overpass, 'sans-serif';
    font-weight: 600;
    color: #ffffff;
}

.left-header .left-header-bottom-text-wrapper{

}

.left-header-bottom-text-wrapper p{
    margin: 0;
    color: white;
}


.left-header-bottom-text-wrapper p:first-child{
    font-size: 18px;
    letter-spacing: -0.5px;
    font-family: Poppins, 'sans-serif';
    font-weight: 600;
}

.left-header-bottom-text-wrapper p:last-child{
    font-size: 15px;
    margin-top: 5px !important;
    color: rgba(255, 255, 255, 0.5);
    width: 75%;
}
.left-header-bottom-input-wrapper{
    margin-top: 40px;

}

.left-header-bottom-input-wrapper p{
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    margin-left: 5px;
}

.left-header-bottom-input-wrapper input{
    width: 80%;
    font-size: 16px;
    border-radius: 12px;
    font-family: Inter, 'sans-serif', 'sans-serif' !important;
    color: white;
    letter-spacing: -0.5px;
    padding: 20px 30px;
    border: 0.5px solid rgba(255, 255,255, 0.10);
    background: rgba(255, 255, 255, 0.02);
}


.left-header-bottom-input-wrapper input:focus{
    outline: none;
    color: white;
}

.left-header-bottom-capsule{
    padding:  0;
}

.left-header-bottom-capsule:not(.left-header-bottom-capsule-first-child){
    margin-top: -5px;
}




.left-header-bottom-capsule-first-child{
    padding-bottom: 15px !important;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}

.left-header-bottom-capsule-flexer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header-bottom-capsule-flex{
    margin-top: 20px;

}

.left-header-bottom-capsule-flex p{
    color: white;
    margin: 0;
}

.left-header-bottom-capsule-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-header-bottom-capsule-header p{
    font-weight: 500;
    letter-spacing: -0.5px;
    font-family: Inter, 'sans-serif';
    color: rgba(255, 255, 255, 0.9);
}

.left-header-bottom-capsule-header img{
    height: 15px;
}

.left-header-bottom-capsule-subheading{
    margin-top: 7px !important;
    display: none;
    font-size: 13px;
    font-family: Inter, 'sans-serif';
    color: rgba(255, 255, 255, 0.5) !important;
}



.toggle-button-wrapper {
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 45px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    position: relative;
    transition: background 0.3s ease;
}

.toggle-switch {
    height: 20px;
    width: 20px;
    border-radius: 300px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 5px;
    transition: left 0.3s ease, background 0.3s ease;
}

.toggle-button-wrapper.active {
    background: #4800ff;
}

.toggle-button-wrapper.active .toggle-switch {
    left: 30px; /* (50 - 24 - 5) for perfect end alignment */
    background: white !important;
}


.left-header-bottom-capsule-input-flex-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-header-bottom-capsule-input-wrapper,
.invite-input-section{
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
    padding: 5px 5px 5px 15px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.left-header-bottom-capsule-input-flex-wrapper input,
.invite-input-section input{
    background: transparent;
    outline: none;
    border: none;
    width: 400px;
    font-size: 15px;
    color : rgba(255, 255, 255, 0.75);
}

.left-header-bottom-capsule-input-wrapper button,
.invite-input-section button{
    border: 1px solid rgba(255, 255, 255, 0.05);
    background:  rgba(255, 255, 255, 0.05);
    padding: 7px 15px;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    cursor: pointer;
    font-size: 11px;
    white-space: nowrap;
}
.invite-input-section button{
    padding: 10px 15px;
    font-weight: 600;
    font-family: Inter, 'sans-serif';
    font-size: 14px;
}

.invite-input-flex-left{
    display: flex;
    align-items: center;
    gap: 10px;
}







.page-wrapper div.page-right-flex-wrapper{
    background:linear-gradient(to right , #4800ff, #4800ff);
    width: 55%;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.page-wrapper div.page-right-flex-wrapper::before,
.page-wrapper div.page-right-flex-wrapper::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    z-index: 100;
    right: 0;
}

.right-header{
    padding: 30px;
    margin: 50px 0 0 100px;
}

.right-header p{
    margin: 0;
}

.right-header-text-main{
    font-size: 18px;
    line-height: 1.65;
    font-family: Inter, 'sans-serif';
    width: 60%;
    font-weight: 600;
    letter-spacing: -0.75px;
    color: white;
}

.right-header-text-source{
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 15px !important;
    font-family: Overpass,'sans-serif';
}


.right-footer{

}


.right-footer > img{
    position: relative;
}

.right-footer-onboard-members-image-wrapper {
    position: absolute;
    left: 15%;
    bottom: -15%;
    perspective: 1000px;
    animation: appear 1.25s forwards ease-in-out;
    opacity: 0;
    transform : translate(80% , 80%) rotateZ(40deg) rotateX(-40deg);
    z-index: 1; /* ensure this whole wrapper is above other content if needed */
}

@keyframes appear {
    100%{
        opacity: 1;
        transform : translate(0 , 0) rotateZ(0deg) rotateX(0deg);
    }
}

.right-footer-onboard-members-image-wrapper img {
    position: relative; /* so z-index applies */
    z-index: 2; /* higher than ::before */
    border-radius: 25px;
    border: 0.25px solid rgba(255, 255, 255, 0.3);
    width: 75vw;
    background: #0a0a0a;
}

.right-footer-onboard-members-image-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    border-radius: 25px;
    top: 50%;
    transform : translate(-50% , -50%);
    height: calc(100% + 15px);
    width: calc(100% + 15px);
    border: 0.25px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    z-index: 1; /* less than image */
}


.right-footer-onboard-roles {
    position: absolute;
    animation: appearv2 .75s forwards ease-in-out 1.75s;
    left: 5%;
    border-radius: 25px 25px 0 25px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    overflow : auto;
    bottom:16%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    padding: 0;
    opacity: 0;
    transform : translate(0% , 5%) rotateZ(0deg) rotateX(0deg);
    z-index: 1; /* ensure this whole wrapper is above other content if needed */
}

@keyframes appearv2 {
    100%{
        opacity: 1;
        transform : translate(0 , 0) rotateZ(0deg) rotateX(0deg);
    }
}

.right-footer-onboard-roles img {
    position: relative; /* so z-index applies */
    z-index: 2; /* higher than ::before */
    margin-bottom: -10px !important;
    border-radius: 25px 25px 0 25px;
}


.right-footer-onboard-roles::before {
    content: '';
    display: none;
    position: absolute;
    left: 50%;
    border-radius: 25px;
    top: 50%;
    transform : translate(-50% , calc(-50% - 2px));
    height: calc(100% + 10px); /* 40px earlier was too much */
    width: calc(100% + 10px);
    border: 0.25px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    z-index: 1; /* less than image */
}




.right-footer-onboard-guest {
    position: absolute;
    animation: appearv2 .75s forwards ease-in-out 1s;
    left: 2%;
    backdrop-filter: blur(25px);
    bottom : 8.5%;
    padding: 0;
    opacity: 0;
    transform : translate(100% , 0%) rotateZ(0deg) rotateX(0deg);
    z-index: 1; /* ensure this whole wrapper is above other content if needed */
}

@keyframes appearv2 {
    100%{
        opacity: 1;
        transform : translate(0 , 0) rotateZ(0deg) rotateX(0deg);
    }
}

.right-footer-onboard-guest img {
    margin-bottom: -5px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0,2));
    height: 55px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: relative; /* so z-index applies */
    z-index: 2; /* higher than ::before */
}




