.task-overview-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-overview-wrapper p{
    color: rgba(255, 255, 255, 0.9);
}

.task-nav-bar{
    padding: 10px 20px;
    align-self: start;
    height: calc(5% - 20px);
    width: calc(100% - 40px);
    border-bottom: var(--border-ultra-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.task-main{
    flex: 9;
    width: 100%;
    height: calc(95%);
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.task-main-wrapper{
    width: 96%;
    position: relative;
    height: 100%;
    border-right: var(--border-ultra-light);
    overflow: hidden;
}

.task-actionbar-wrapper{
    width: 4%;
    height: 100%;
}

.task-header-wrapper{
    border-bottom: var(--border-light);
    height: calc(20% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.task-header-notification-bar{
    height: 23%;
    width: calc(100% - 40px);
    display: flex;
    padding: 0px 20px;
    align-items:center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.05);
}

.task-header-context-wrapper{
    height: 77%;
    width: calc(100% - 40px);
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.task-header-notification-bar img{
    height: 12.75px;
}

.task-header-notification-bar p{
    font-size: 13px;
    font-weight: 500;
}


.task-content-wrapper{
    flex: 40;
    height: calc(80% + 20px);
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    overflow: hidden;
}

.task-modal-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    background: rgba(8, 8, 12, 0.9);
}

.task-modal-wrapper{
    width: 40%;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(16, 16, 20 ,1);
    animation: slideIn 0.3s ease-in-out forwards;
}

.task-modal-header{
    height: 5%;
    width: 100%;
    border-bottom: var(--border-ultra-light);
}

.task-modal-header-wrapper{
    padding: 30px;
    box-sizing: border-box;
}

.task-header-text-wrapper p:first-child{
    font-size: 16px;
    font-weight: 600;
}

.task-header-text-wrapper p:last-child {
    font-size: 12.75px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 7px !important;
    font-weight: 500;
    width: 70%;
    line-height: 1.65;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.task-capsule-wrapper{
    margin: 20px 0;
}

.task-pill-wrapper{
    padding: 7px 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.07);
    display: flex;
    align-items: center;
    width: min-content;
    white-space: nowrap;
    gap: 10px;
}

.task-pill-wrapper img{
    height: 13.75px;
}

.task-pill-wrapper p{
    font-size: 13.75px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
}


/* --- Reusable / Unchanged Generic Styles --- */

.nav-capsule:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-capsule:last-child{
    display: flex;
    align-items: center;
    gap: 18px;
}

.toggle-wrapper{
    height: calc(17px - 4px);
    width: 27px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

.switch{
    height: 13px;
    width: 13px;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.4s;
}

.toggle-wrapper.active{
    background: #036CFE !important;
}

.switch img{
    height: 9px !important;
}

.toggle-wrapper.active .switch{
    left: calc(2px + 27px - 13px);
}

.nav-capsule:first-child .nav-pill-i img:first-child{
    opacity: 0.5;
}

.nav-pill-i{
    display: flex;
    align-items: center;
    gap: 7px;
}

.nav-pill-i img{
    height: 13.5px;
    width: 13.5px;
}

.nav-pill-i p{
    font-size: 13px;
    font-family: Inter, 'sans-serif' !important;
    margin: 0;
    font-weight: 500;
}

.star{
    margin-left: 4px;
}

.dot{
    margin-left: 2px;
}

.context-text-wrapper{
    padding: 15px 20px;
    width: calc(100% - 40px);
}

.context-text-wrapper > p{
    margin: 0;
}

.context-text-wrapper .header-heading{
    font-size: 15px;
    font-weight: 600;
}

.context-text-wrapper .header-subheading{
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 7px !important;
}

.header-context-footer{
    width: calc(100% - 0px);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-footer-flexer-i{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    gap:15px;
}

.header-footer-flexer-i .footer-i:first-child img{
    height: 26px;
    min-height: 26px;
    min-width: 26px;
    border-radius: 100px;
}

.header-footer-flexer-i .footer-i:first-child img:not(:first-child){
    margin-left: -5px;
}

.header-footer-flexer-i .footer-i:nth-child(6){
    padding: 6.5px 8px;
    background: #036CFE;
    border-radius: 100px;
    cursor: pointer;
    font-size: 12.5px;
    color: white;
    font-weight: 500;
}

.header-context-capsule{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-menu-pill{
    display: flex;
    align-items: center !important;
    gap: 7px;
    cursor: pointer;
    padding: 12px 0px;
}

.header-menu-pill img{
    height: 13.5px;
}
.header-menu-pill p{
    font-size: 13.5px !important;
    color: grey;
    font-weight: 500;
}

.header-menu-pill:hover p{
    color: white;
}

.header-menu-pill.active{
    border-bottom: 0.5px solid white;
}

.header-menu-pill.active p{
    color: white;
    font-weight: 600;
}

.view-wrapper{
    flex: 14;
    height: 90%;
    width: 100%;
}

.calendar-view, .spreadsheet-view {
    overflow: scroll;
}

.section-config-wrapper{
    border-top: var(--border-ultra-light);
    border-bottom: var(--border-ultra-light);
    display: flex;
    align-content:center;
    width: calc(100% - 40px);
    height: 10%;
    flex: 1;
    justify-content: space-between;
    padding: 0 20px;
}

.section-config-wrapper .sec-config-i{
    width: 45%;
    display: flex;
    align-items: center;
    gap: 8.5px;
}

.section-config-wrapper .sec-config-i img{
    opacity: 0.5;
}

.section-config-wrapper .sec-config-i input{
    background: transparent;
    font-family: Inter, 'sans-serif';
    outline: none;
    font-size: 14px;
    border : none;
    font-weight: 500;
    color: white;
    padding: 15px 0px;
    width: 90%;
}

.section-config-wrapper .sec-config-i input::placeholder{
    color: grey;
    font-size: 14px;
}

.sec-config-action-wrapper{
    display: flex;
    align-items: center;
    gap: 25px;
}

.sec-config-action-pill{
    display: flex;
    align-items: center;
    gap: 8.5px;
}

.sec-config-action-pill img{
    height: 13px;
    opacity: 0.5;
}

.sec-config-action-pill p{
    font-size: 13px;
    font-weight: 500;
}



/* Other complex, unchanged styles remain here... */
